---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const query = "https://rtagji7x.api.sanity.io/v2021-10-21/data/query/production?query=*%5B_type%20%3D%3D%20%22campaign%22%5D%7B%0A%20%20title%2C%20%0A%20%20_id%2C%20%0A%20%20description%2C%0A%20%20'imageSrc'%3A%20image.asset-%3Eurl%0A%7D";
const campaigns = await fetch(query).then((res) => res.json()).then((res) => res.result);
---

<Layout title="Astounding homepage">
	<main>
		<h1>Welcome to your <br><span class="text-gradient">Astounding GM Tools</span>!</h1>
		<h3>
			To get started, select a campaign:
		</h3>
		<ul role="list" class="link-card-grid">
            {campaigns.map((campaign:any) =>
                <Card
                    href={`/campaign/${campaign._id}`}
                    title={campaign.title}
                    body={campaign.description}
                    imageSrc={campaign.imageSrc}
                />
            )}
		</ul>
        <h2>Astounding features:</h2>
        <ul role="list" class="link-card-grid">
            <Card
                href="./initiative"
                title="Astounding Initiative!"
                body="Coming soon: An astounding tool to keep thack of initiative and hitpoints in combat encounters!"
            />
        </ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
